<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dechuan.mapper.first.usermanage.UserLoginMapper">
    <resultMap id="BaseResultMap" type="com.example.dechuan.model.usermanage.User">
        <id column="USER_KY" jdbcType="INTEGER" property="userKy" />
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    </resultMap>

        <select id="doGetUserSelect"  resultType="com.example.dechuan.model.usermanage.User">
            SELECT USER_KY,USER_NAME FROM tbeh_dc_user WHERE USER_NAME=#{userName} AND PASSWORD=#{password}
        </select>

    <select id="doGetRole" parameterType="java.lang.Integer" resultType="com.example.dechuan.model.usermanage.Role">
        SELECT
             USER_KY
            ,R.ROLE_KY
            ,ROLE_NAME
            ,ROLE_CODE
            FROM       tbeh_dc_user_role TR
            LEFT JOIN  tbeh_dc_role R ON TR.ROLE_KY= R.ROLE_KY
            WHERE USER_KY = #{userKy,jdbcType=INTEGER}
    </select>

</mapper>