<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dechuan.mapper.first.carimage.CarImageMapper">
  <resultMap id="BaseResultMap" type="com.example.dechuan.model.carimage.CarImage">
    <id column="imKy" jdbcType="INTEGER" property="imKy" />
    <result column="woKy" jdbcType="INTEGER" property="woKy" />
    <result column="carNoImage" jdbcType="VARCHAR" property="carNoImage" />
    <result column="carNo" jdbcType="VARCHAR" property="carNo" />
    <result column="vormalVehicleImage" jdbcType="VARCHAR" property="vormalVehicleImage" />
    <result column="watermarkImage" jdbcType="VARCHAR" property="watermarkImage" />
  </resultMap>
  <select id="doGetCarImageList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
        imKy,
        im.woKy,
        carNo,
        carNoImage,
        vormalVehicleImage,
        watermarkImage
    FROM truckinout_image im
    LEFT JOIN truckinout_workorder tw on tw.woKy = im.woKy
    WHERE 1=1
      <if test="woKy != null and woKy != ''">
          AND im.woKy = #{woKy,jdbcType=INTEGER}
      </if>
      ORDER BY imKy DESC
  </select>

    <select id="doGetWorkOrderStatusList" parameterType="java.lang.String" resultType="com.example.dechuan.model.carimage.TruckinoutImage">
        SELECT
            tw.woKy,
            carNo,
            entranceWeight,
            exitWeight,
            netWeight,
            vormalVehicleImage
        FROM truckinout_workorder tw
        LEFT JOIN truckinout_image ti on tw.woKy = ti.woKy
        WHERE 1=1
        <if test="woKy != null and woKy != ''">
        AND tw.woKy = #{woKy,jdbcType=INTEGER}
       </if>
        <if test="carNo != null and carNo != ''">
            AND carNo = #{carNo,jdbcType=VARCHAR}
        </if>
        AND completionStatus =0 ORDER BY woKy DESC limit 1;
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from truckinout_image
    where imKy = #{imky,jdbcType=INTEGER}
  </delete>
  <insert id="doAddImageUrl" parameterType="com.example.dechuan.model.carimage.CarImage">
    insert into truckinout_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="woKy != null">
        woKy,
      </if>
      <if test="carNoImage != null">
        carNoImage,
      </if>
      <if test="vormalVehicleImage != null">
        vormalVehicleImage,
      </if>
      <if test="watermarkImage != null">
        watermarkImage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="woKy != null">
        #{woKy,jdbcType=INTEGER},
      </if>
      <if test="carNoImage != null">
        #{carNoImage,jdbcType=VARCHAR},
      </if>
      <if test="vormalVehicleImage != null">
        #{vormalVehicleImage,jdbcType=VARCHAR},
      </if>
      <if test="watermarkImage != null">
        #{watermarkImage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.dechuan.model.carimage.CarImage">
    update truckinout_image
    <set>
      <if test="woKy != null">
        woKy = #{woKy,jdbcType=INTEGER},
      </if>
      <if test="carnoimage != null">
        carNoImage = #{carNoImage,jdbcType=VARCHAR},
      </if>
      <if test="vormalvehicleimage != null">
        vormalVehicleImage = #{vormalVehicleImage,jdbcType=VARCHAR},
      </if>
      <if test="watermarkImage != null">
          watermarkImage = #{watermarkImage,jdbcType=VARCHAR},
      </if>
    </set>
    where imKy = #{imKy,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.example.dechuan.model.carimage.CarImage">
    UPDATE truckinout_image
      <set>
          <if test="watermarkImage != null">
            watermarkImage = #{watermarkImage,jdbcType=VARCHAR},
         </if>
      </set>
    where woKy = #{woKy,jdbcType=INTEGER}
  </update>
</mapper>