<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dechuan.mapper.first.vehicle.VehicleMapper">
  <resultMap id="BaseResultMap" type="com.example.dechuan.model.vehicle.Vehicle">
    <id column="vInKy" jdbcType="INTEGER" property="vInKy" />
    <result column="woKy" jdbcType="VARCHAR" property="woKy" />
    <result column="carNo" jdbcType="VARCHAR" property="carNo" />
    <result column="workStatus" jdbcType="INTEGER" property="workStatus" />
    <result column="vehicleTime" jdbcType="TIMESTAMP" property="vehicleTime" />
  </resultMap>
  <sql id="Base_Column_List">
    vInKy, carNo, workStatus, vehicleTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vehicle_interaction
    where vInKy = #{vinky,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vehicle_interaction
    where vInKy = #{vinky,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.dechuan.model.vehicle.Vehicle">
    insert into vehicle_interaction (vInKy, carNo, workStatus, 
      vehicleTime)
    values (#{vinky,jdbcType=INTEGER}, #{carno,jdbcType=VARCHAR}, #{workStatus,jdbcType=INTEGER}, 
      #{vehicleTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.example.dechuan.model.vehicle.Vehicle">
    insert into vehicle_interaction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="woKy != null">
          woKy,
      </if>
      <if test="carNo != null">
        carNo,
      </if>
      <if test="workStatus != null">
        workStatus,
      </if>
      <if test="vehicleTime != null">
          vehicleTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="woKy != null">
        #{woKy,jdbcType=INTEGER},
      </if>
      <if test="carNo != null">
        #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="workStatus != null">
        #{workStatus,jdbcType=INTEGER},
      </if>
      <if test="vehicleTime != null">
        #{vehicleTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.dechuan.model.vehicle.Vehicle">
    update vehicle_interaction
    <set>
      <if test="carno != null">
        carNo = #{carno,jdbcType=VARCHAR},
      </if>
      <if test="workStatus != null">
        workStatus = #{workStatus,jdbcType=INTEGER},
      </if>
      <if test="vehicleTime != null">
        vehicleTime = #{vehicleTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where vInKy = #{vinky,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dechuan.model.vehicle.Vehicle">
    update vehicle_interaction
    set carNo = #{carno,jdbcType=VARCHAR},
      workStatus = #{workStatus,jdbcType=INTEGER},
      vehicleTime = #{vehicleTime,jdbcType=TIMESTAMP}
    where vInKy = #{vinky,jdbcType=INTEGER}
  </update>
</mapper>